<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Autor de la App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Autor de la App</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <h1>Yuriko Mukai A.</h1>
    <div class="info">
      <p>Desarrollo de aplicaciones mòviles</p>
      <p>20220358&#64;itla.edu.do</p>
    </div>
  </div>

  <img src="./assets/yuriko.jpg" alt="">
</ion-content>
